<!-- <mat-toolbar class="header">
    <img src="./../assets/logo.png" alt="" width="300px" class="header-logo">
    <span class="header-button">
        <span class="span-gap"><a routerLink="/usuario/novo" routerLinkActive="active" class="header-button-link">Add User</a></span>
        <span class="span-gap"><a routerLink="delete" routerLinkActive="active" class="header-button-link">Delete game</a></span>
    </span>
</mat-toolbar> -->


<!-- <span class="header-text">AllGames</span>
<span class="header-text">AllGames</span> -->


<!-- <li><a routerLink="/produtos" routerLinkActive="active" class="menu-button-link">Produtos</a></li>
<li><a routerLink="/usuarios" routerLinkActive="active" class="menu-button-link">Usuarios</a></li>
<li><a routerLink="/compras" routerLinkActive="active" class="menu-button-link">Compras</a></li> -->
<router-outlet></router-outlet>
