<main>
    <section>
        <p class="title-user-details">User Details</p>
        <div>
            <span class="span-container">
                ID: <span class="result-user-detail">{{ usuario.id }}</span>
            </span>
            <span class="span-container">
                Nome: <span class="result-user-detail">{{ usuario.nome }}</span>
            </span>
            <span class="span-container">
                Email: <span class="result-user-detail">{{ usuario.email }}</span> 
            </span>
        </div>
        <button mat-button routerLink="/usuarios" style="color: #FFFF;">User List</button>
    </section>
</main>

